:root {
    --inventory-width: 2em;
    --inventory-height: 2em;
}

.inventory-main {
    display: grid;
    grid-gap: .25rem;
    grid-template-columns: repeat(5, 1fr);
    /* grid-template-columns: var(--inventory-width) var(--inventory-width) var(--inventory-width); */
    /* grid-template-rows: var(--inventory-height) var(--inventory-height) var(--inventory-height); */
    background-color: rgba(0, 0, 0, .5);
    width: auto;
    padding: .5em;
    position: fixed;
    bottom: 10px;
    right: 10px;
}

.inventory-main > div{
    border: 1px solid rgb(48, 48, 48);
    border-radius: .2em;
    background: black;
    position: relative;
    padding-top: 5px;
    width: var(--inventory-width);
    height: var(--inventory-height);
    cursor: pointer;
}

.inventory-img{
    object-fit: contain;
    width: 60%;
    /* position: absolute; */
    z-index: 0;
    top: 0;
    left: 0;

}

/* Rubsh bin */
.inventory-rubbish-bin{
    background-color: grey;
}
/* Rubsh bin */
.inventory-fountain-of-resources{
    background-color: orange;
    /* background-image: url(../images/gold.png); */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire*/
}

/**/
.inventory-tooltip{
    background-color: rgba(0, 0, 0, .5);
    color: white;
    width: 400px;
    height: 300px;
    position: fixed;
    margin-left: -200px;
    left: 50%;
    top: 25%;
    display: 'none' !important;
    padding: 1em;
    font-size: 2em;
    box-shadow: 0 0 40px gray;
    border-radius: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inventory-slot{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* SlotNumber */

.inventory-slot-number{
    color: white;
    text-shadow: 0 0 2px red;
    text-shadow: 0 0 2px rebeccapurple;
    position:absolute;
    z-index: 1;
    top: 0;
    left: 0;
    font-size: 10px;
    /* height: 2em; */
    padding: .2em .4em ;
    /* background: green; */
    display: block;
    /* line-height: 2em; */
    pointer-events: none;
    user-select: none;
    /* display: none; */
}

